table.informacoesConfiguracao {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border: 1px solid black;
	width: 50%;
	font-size: x-small;
	border-spacing: 0px;
	border-collapse: collapse;
}
table.informacoesConfiguracao td {
	border: 1px solid black;
}

table.mapaCotacoesPorDia {
	text-align: center;
	border-spacing: 0px;
	border-collapse: collapse;
	border: 1px solid black;
}
table.mapaCotacoesPorDia th {
	font-weight: normal;
	border: 1px solid black;
}
table.mapaCotacoesPorDia td {
	border: 1px solid black;
}
table.mapaCotacoesPorDia td span.codigo {
	font-size: small;
	margin-right: 2px;
}
table.mapaCotacoesPorDia td input.radioButton {
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 5px;
	margin-bottom: 0px;
}