<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-2.0.4.xsd">


	<bean id="wicketApplication" class="br.eti.ranieri.opcoesweb.WicketApplication">
	</bean>

	<bean class="br.eti.ranieri.opcoesweb.persistencia.Persistencia">
	</bean>
	
	<!--
		Implicitly registered post-processors include
		AutowiredAnnotationBeanPostProcessor (for @Autowired),
		CommonAnnotationBeanPostProcessor (for @Resource, @PostConstruct, and
		@PreDestroy), PersistenceAnnotationBeanPostProcessor (for
		@Transactional and @PersistenceContext/@PersistenceUnit) and
		RequiredAnnotationBeanPostProcessor (for @Required).
	-->
	<context:annotation-config />
	<!--
		To autodetect @Component @Repository @Service @Controller and register
		the corresponding beans requires the inclusion of the following
		element in XML where 'basePackage' would be a common parent package
		for the two classes (or alternatively a comma-separated list could be
		specified that included the parent package of each class).
	-->
	<context:component-scan base-package="br.eti.ranieri.opcoesweb" />

	<!--
		Enable a component that is aware of the @Required annotation and that
		can process it appropriately.
	<bean
		class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor" />
	-->

	<security:http access-denied-page="/403.jsp">

		<security:intercept-url pattern="/login.jsp*" access="ROLE_ANONYMOUS" requires-channel="https"/>
		<security:intercept-url pattern="/*.jsp" access="ROLE_ANONYMOUS" requires-channel="https"/>
		<security:intercept-url pattern="/w/configurarOnline" access="IS_AUTHENTICATED_FULLY" requires-channel="https"/>
		<security:intercept-url pattern="/**" access="IS_AUTHENTICATED_FULLY" requires-channel="http"/>

		<security:anonymous/>
		<security:form-login login-page="/login.jsp" authentication-failure-url="/login.jsp?error=1" default-target-url="/w/home"/>
		<security:concurrent-session-control/>
		<security:logout/>
	</security:http>
	
	<security:authentication-provider>
		<security:user-service>
			<security:user name="ranieri.severiano" password="k6cP4vy" authorities="ROLE_USER"/>
		</security:user-service>
	</security:authentication-provider>
</beans>
