div.offlineTimeLine {
	background-color: rgb(0,0,100);
	text-align: center;
}
div.offlineTimeLine a {
	color: white;
	text-decoration: none;
}
div.offlineTimeLine a:hover {
	text-decoration: underline;
}
div.offlineTimeLine span {
	padding: 0 1%;
}
div.offlineDayLine span a {
	padding: 0 10px;
}
div.offlineDayLine span {
	padding: 0;
}
div.offlineTimeLine span.selecionado {
	background-color: rgb(200, 100, 20);
}