div#tarjaSerie .serie {
	text-align: left;
	float: left;
	background-color: rgb(248, 248, 255);
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: gray;
}
div#tarjaSerie .serie span.vencimento {
	font-size: small;
	padding: 5px 5px 20px 5px;
}
div#tarjaSerie .serie span.descricaoSerie {
	font-weight: bold;
	padding: 5px 5px 5px 5px;
}
div#tarjaSerie .atualizacao {
	text-align: right;
	font-size: x-small;
	padding-top: 7px;
}
table.painelOpcoes {
	font-size: 0.9em;
	clear: both;
	width: 100%;
}
table.painelOpcoes {
	border-width: 1px;
	border-spacing: 0px;
	border-style: solid;
	border-color: gray;
	border-collapse: collapse;
}
table.painelOpcoes th, table.painelOpcoes td {
	border-width: 1px;
	border-style: solid;
	border-color: gray;
	padding: 2px;
	white-space: nowrap;
}
table.painelOpcoes td {
	background-color: white;
	text-align: right;
}
table.painelOpcoes th {
	font-weight: normal;
	background-color: rgb(248, 248, 255);
}
table.painelOpcoes tr.indicadorValor td {
	background-color: rgb(255, 255, 127);
}
table.painelOpcoes tr.indicadorValor td.maior {
	background-color: yellow;
}
table.painelOpcoes tr.indicadorAlvo td {
	background-color: rgb(255, 232, 137);
}
table.painelOpcoes tr.indicadorAlvo td.maior {
	background-color: rgb(255, 210, 20);
}